<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./index.css">
  <title>Shopping Site</title>
</head>

<body>
  <div class="grid">
    <header>
      <div class="brand">
        <a>Furniture Direct</a>
      </div>
      <div class="header-links">
        <a> Contact Us </a>
        <a> Submit enquiry </a>
      </div>
    </header>
    <nav class="navigation-bar">
      <a>Home</a>
      <a>Product Catalogue</a>
    </nav>
    <main>
      <div class="content">
        <ul class="products">
          <li>
            <div class="product">
              <div class="product-image">
                <img src="./product-image/3-seat-sofa.jpg"></img>
              </div>
              <div class="product-content">
                <div>{Product Name}</div>
                <div>{Price: $}</div>
                <div>{No. of Stars}</div>
              </div>
            </div>
          </li>
          <li>
            <div class="product">
              <div class="product-image">
                <img src="./product-image/3-seat-sofa.jpg"></img>
              </div>
              <div class="product-content">
                <div>{Product Name}</div>
                <div>{Price: $}</div>
                <div>{No. of Stars}</div>
              </div>
            </div>
          </li>
          <li>
            <div class="product">
              <div class="product-image">
                <img src="./product-image/3-seat-sofa.jpg"></img>
              </div>
              <div class="product-content">
                <div>{Product Name}</div>
                <div>{Price: $}</div>
                <div>{No. of Stars}</div>
              </div>
            </div>
          </li>
          <li>
            <div class="product">
              <div class="product-image">
                <img src="./product-image/3-seat-sofa.jpg"></img>
              </div>
              <div class="product-content">
                <div>{Product Name}</div>
                <div>{Price: $}</div>
                <div>{No. of Stars}</div>
              </div>
            </div>
          </li>
          <li>
            <div class="product">
              <div class="product-image">
                <img src="./product-image/3-seat-sofa.jpg"></img>
              </div>
              <div class="product-content">
                <div>{Product Name}</div>
                <div>{Price: $}</div>
                <div>{No. of Stars}</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </main>
    <footer>
      <p>All rights reserved.</p>
    </footer>
  </div>
</body>

</html>